<link rel="stylesheet" href="styles/landingPage.css">
<section id="hero" class="min-vh-100 d-flex align-items-center text-center">
    <div class="container">
      <h1>Welcome to A.A Computers</h1>
      <h3>Your ultimate destination for gaming hardware excellence!</h3>
      <br>
      <div>
        <button class="landing-button">Browse Items</button>
        <button class="landing-button">Search</button>
      </div>
    </div>
</section>
<h1 id="showCaseHeading">Popular Items:</h1>
<div id = "showCase">
  <div class="showCaseProd">
    <img class="showCaseProdImg" src="products/GPUs/RTX 3060.png" alt="">
    <h5 class="showCaseProdTitle">Nvidia Gefore RTX 3060</h5>
    <p class="showCaseProdPrice">RS: 90,000</p>
  </div>
  <div class="showCaseProd">
    <img class="showCaseProdImg" src="products/GPUs/RTX 3060.png" alt="">
    <h5 class="showCaseProdTitle">Nvidia Gefore RTX 3060</h5>
    <p class="showCaseProdPrice">RS: 90,000</p>
  </div>
  <div class="showCaseProd">
    <img class="showCaseProdImg" src="products/GPUs/RTX 3060.png" alt="">
    <h5 class="showCaseProdTitle">Nvidia Gefore RTX 3060</h5>
    <p class="showCaseProdPrice">RS: 90,000</p>
  </div>
  <div class="showCaseProd">
    <img class="showCaseProdImg" src="products/GPUs/RTX 3060.png" alt="">
    <h5 class="showCaseProdTitle">Nvidia Gefore RTX 3060</h5>
    <p class="showCaseProdPrice">RS: 90,000</p>
  </div>
  <div class="showCaseProd">
    <img class="showCaseProdImg" src="products/GPUs/RTX 3060.png" alt="">
    <h5 class="showCaseProdTitle">Nvidia Gefore RTX 3060</h5>
    <p class="showCaseProdPrice">RS: 90,000</p>
  </div>
  <div class="showCaseProd">
    <img class="showCaseProdImg" src="products/GPUs/RTX 3060.png" alt="">
    <h5 class="showCaseProdTitle">Nvidia Gefore RTX 3060</h5>
    <p class="showCaseProdPrice">RS: 90,000</p>
  </div>
  <div class="showCaseProd">
    <img class="showCaseProdImg" src="products/GPUs/RTX 3060.png" alt="">
    <h5 class="showCaseProdTitle">Nvidia Gefore RTX 3060</h5>
    <p class="showCaseProdPrice">RS: 90,000</p>
  </div>
  <div class="showCaseProd">
    <img class="showCaseProdImg" src="products/GPUs/RTX 3060.png" alt="">
    <h5 class="showCaseProdTitle">Nvidia Gefore RTX 3060</h5>
    <p class="showCaseProdPrice">RS: 90,000</p>
  </div>
</div>