<link rel="stylesheet" href="styles/productsPage.css">
<div class="container">
    <div class="row">
        <div class="col products">
            <div class="product">
                <img class="productImg" src="products/GPUs/RTX 3060.png" alt="">
                <h5 class="productTitle"><%=product.title %></h5>
                <p class="productPrice"><%=product.price %></p>
            </div>
        </div>
    </div>
</div>