<link rel="stylesheet" href="styles/productDetails.css">
<div class="background">
    <div class="product">
        <img class="prodImg" src="<%= product.img %>" alt="">
        <div class="prodDetails">
            <h3><%= product.title %></h3>
            <h5><%= product.price %></h5>
            <div class="purchaseButtons">
                <button class="buyNow">Buy Now</button>
                <button class="addToCart">Add to Cart</button>
            </div>
        </div>
    </div>
</div>