<link rel="stylesheet" href="styles/productDetails.css">
<div class="background">
    <div class="product">
        <img class="prodImg" src="<%= product.img %>" alt="">
        <div class="prodDetails">
            <h3><%= product.title %></h3>
            <h5><%= product.price %></h5>
            <div class="purchaseButtons">
                <button id="buyNow">Buy Now</button>
                <form action="/addToCart<%= product.id %>" method="post">
                    <input id="addToCart" type="submit" value="Add To Cart">
                </form>
            </div>
        </div>
    </div>
</div>
<script src="js/script.js"></script>