<link rel="stylesheet" href="styles/productsPage.css">
<div class="container-fluid">
    <div class="row">
        <div class="col products">
            <% for( let index = 0; index < product.length; index++ ) { %>
                <a class="prodLink" href="/productDetails<%= product[index].id %>">
                    <div class="product">
                        <img class="productImg" src="<%= product[index].img %>" alt="">
                        <h5 class="productTitle"><%=product[index].title %></h5>
                        <p class="productPrice"><%=product[index].price %></p>
                    </div>
                </a>
            <% } %>
        </div>
    </div>
</div>