*{
    box-sizing: border-box;
}
.landing-button{
    color:white;
    height:45px;
    width:15%;
    text-shadow: 2px 2px 5px grey;
    background-color: rgba(0, 0, 0, 0.55);
    border-radius: 15px;
    box-shadow: 3px 3px 5px grey;
    border: 2px solid rgb(35, 35, 35);
    margin: 1%;
    transition: all 0.1s ease-in;
}
.landing-button:hover{
    transform: scale(1.1);
    background-color: black;
}
#showCaseHeading{
    margin-top: 2%;
    text-align: center;
}
#showCase {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 3%;
    gap: 10px;
}

.showCaseProd {
    width: 300px;
    border: 2px solid black;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 3%;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-shadow: 3px 3px 6px black;
}
.showCaseProd:hover{
    box-shadow: 4px 4px 12px black;
}
.showCaseProdImg {
    width: 100%;
    transition: all 0.2s ease-in;
}
.showCaseProdImg:hover{
    transform: scale(1.1);
}
.showCaseProdTitle {
    margin-top: 10px;
    text-align: center;
}

.showCaseProdPrice {
    text-align: center;
}
