<link rel="stylesheet" href="styles/AjaxRestfulApi.css">
</head>
<section id="hero" class="min-vh-100 d-flex align-items-center text-center">
    <div class="container">
        <div class="row pt-3">
            <div class="col-sm-12">
                <section class="form-section">
                    <form id="Form">
                        <div class="form-group">
                            <label for="Title">Title:</label>
                            <input type="text" class="form-control" id="Title" placeholder="Enter Title">
                        </div>
                        <div class="form-group">
                            <label for="Content">Content:</label>
                            <textarea class="form-control" id="Content" placeholder="New Story Content"></textarea>
                        </div>
                        <button id="createBtn" type="submit" class="btn btn-primary">Create</button>
                        <button id="clearBtn" type="submit" class="btn btn-primary" style="display: none;">Clear</button>
                    </form>
                </section>
                <div class="table-responsive mp-3">
                    <table class="table table-bordered table-hover table-striped">
                        <thead>
                            <tr>
                                <th class="bg-info text-center" >Title</th>
                                <th class="bg-info text-center">Content</th>
                                <th class="bg-info text-center">Actions</th>
                            </tr>
                        </thead>
                        <tbody id="table-body">
                            <td colspan = "6" id="waiting">
                                <div class="text-center">
                                    Loading Stories
                                </div>
                            </td>
                                
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="https://code.jquery.com/jquery-3.7.1.min.js"
integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
crossorigin="anonymous"></script>
<script src="js/AjaxRestfulApi.js"></script>