*{
    box-sizing: border-box;
}

#nav-bar{
    background: linear-gradient(to right,rgb(84, 25, 43),rgb(14, 32, 78));
    color: white;
}

#nav-logo{
    width:25%;
}

#cart-icon{
    width:20%;
    margin-left: 60%;
}
#cart-icon:hover{
    transform: scale(1.2);
}

#navbarNav{
    align-items: center;
    text-align: center;
}
.nav-logo-a{
    margin-left: 2%;
    max-width: 34%;
}

#hero{
    background: linear-gradient(rgba(0, 0, 0, 0.507),rgba(0, 0, 0, 0.438)) ,url(./images/1200x675.jpg);
    color:white;
    background-position: center;
    background-size: cover;
}

.landing-button{
    color:white;
    height:45px;
    width:15%;
    text-shadow: 2px 2px 5px grey;
    background-color: rgba(0, 0, 0, 0.55);
    border-radius: 15px;
    box-shadow: 3px 3px 5px grey;
    border: 2px solid rgb(35, 35, 35);
    margin: 1%;
    transition: all 0.1s ease-in;
}
.landing-button:hover{
    transform: scale(1.1);
    background-color: black;
}
#gpu-icon{
    scale: 0.1;
}
