*{
    box-sizing: border-box;
}

.action-buttons{
    width: 70px;
    height: 35px;
    margin-bottom: 2%;
}
#hero{
    background: linear-gradient(rgba(0, 0, 0, 0.507),rgba(0, 0, 0, 0.438)) ,url(../labTask\ 1\ LandingPage/images/1200x675.jpg);
    color:white;
    background-position: center;
    background-size: cover;
}
.form-control{
    background-color: rgba(255, 0, 0, 0);
    color: white;
}

.form-control::placeholder{
    color: white
}
.form-section{
    margin: 2% 0 1% 0;
}
